<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TicketsMapper">
    
    <resultMap type="Tickets" id="TicketsResult">
        <result property="ticketId"    column="ticket_id"    />
        <result property="businessType"    column="business_type"    />
        <result property="title"    column="title"    />
        <result property="progress"    column="progress"    />
        <result property="submitter"    column="submitter"    />
        <result property="handler"    column="handler"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectTicketsVo">
        select ticket_id, business_type, title, progress, submitter, handler, status from tickets
    </sql>

    <select id="selectTicketsList" parameterType="Tickets" resultMap="TicketsResult">
        <include refid="selectTicketsVo"/>
        <where>  
            <if test="ticketId != null "> and ticket_id = #{ticketId}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="progress != null  and progress != ''"> and progress = #{progress}</if>
            <if test="submitter != null  and submitter != ''"> and submitter = #{submitter}</if>
            <if test="handler != null  and handler != ''"> and handler = #{handler}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTicketsByTicketId" parameterType="Long" resultMap="TicketsResult">
        <include refid="selectTicketsVo"/>
        where ticket_id = #{ticketId}
    </select>
        
    <insert id="insertTickets" parameterType="Tickets" useGeneratedKeys="true" keyProperty="ticketId">
        insert into tickets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessType != null and businessType != ''">business_type,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="progress != null and progress != ''">progress,</if>
            <if test="submitter != null and submitter != ''">submitter,</if>
            <if test="handler != null and handler != ''">handler,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessType != null and businessType != ''">#{businessType},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="progress != null and progress != ''">#{progress},</if>
            <if test="submitter != null and submitter != ''">#{submitter},</if>
            <if test="handler != null and handler != ''">#{handler},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateTickets" parameterType="Tickets">
        update tickets
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessType != null and businessType != ''">business_type = #{businessType},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="progress != null and progress != ''">progress = #{progress},</if>
            <if test="submitter != null and submitter != ''">submitter = #{submitter},</if>
            <if test="handler != null and handler != ''">handler = #{handler},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where ticket_id = #{ticketId}
    </update>

    <delete id="deleteTicketsByTicketId" parameterType="Long">
        delete from tickets where ticket_id = #{ticketId}
    </delete>

    <delete id="deleteTicketsByTicketIds" parameterType="String">
        delete from tickets where ticket_id in 
        <foreach item="ticketId" collection="array" open="(" separator="," close=")">
            #{ticketId}
        </foreach>
    </delete>
</mapper>