<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WorkOrdersMapper">

    <resultMap type="WorkOrders" id="WorkOrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="businessType"    column="business_type"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="submitterId"    column="submitter_id"    />
        <result property="assigneeId"    column="assignee_id"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="approvalRoleId"    column="approvalRoleId"    />
        <result property="approvalFinishedTime"    column="approvalFinishedTime"    />
        <result property="isOvertime"    column="isOvertime"    />
    </resultMap>

    <sql id="selectWorkOrdersVo">
        select order_id, order_number, business_type, title, description, status, submitter_id, assignee_id, created_at, updated_at, approvalRoleId, approvalFinishedTime, isOvertime from work_orders
    </sql>

    <select id="selectWorkOrdersList" parameterType="WorkOrders" resultMap="WorkOrdersResult">
        <include refid="selectWorkOrdersVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null  and status != '' and status != 'test'"> and status = #{status}</if>
            <if test="status == 'test'"> and status != 'completed'</if>
            <if test="submitterId != null "> and submitter_id = #{submitterId}</if>
            <if test="assigneeId != null "> and assignee_id = #{assigneeId}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
            <if test="approvalRoleId != null "> and approvalRoleId = #{approvalRoleId}</if>
            <if test="approvalFinishedTime != null "> and approvalFinishedTime = #{approvalFinishedTime}</if>
            <if test="isOvertime != null "> and isOvertime = #{isOvertime}</if>
        </where>
    </select>
    
    <select id="selectWorkOrdersByOrderId" parameterType="Long" resultMap="WorkOrdersResult">
        <include refid="selectWorkOrdersVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertWorkOrders" parameterType="WorkOrders" useGeneratedKeys="true" keyProperty="orderId">
        insert into work_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="businessType != null and businessType != ''">business_type,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="description != null">description,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="submitterId != null">submitter_id,</if>
            <if test="assigneeId != null">assignee_id,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="approvalRoleId != null">approvalRoleId,</if>
            <if test="approvalFinishedTime != null">approvalFinishedTime,</if>
            <if test="isOvertime != null">isOvertime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="businessType != null and businessType != ''">#{businessType},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="submitterId != null">#{submitterId},</if>
            <if test="assigneeId != null">#{assigneeId},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="approvalRoleId != null">#{approvalRoleId},</if>
            <if test="approvalFinishedTime != null">#{approvalFinishedTime},</if>
            <if test="isOvertime != null">#{isOvertime},</if>
         </trim>
    </insert>

    <update id="updateWorkOrders" parameterType="WorkOrders">
        update work_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="businessType != null and businessType != ''">business_type = #{businessType},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="submitterId != null">submitter_id = #{submitterId},</if>
            <if test="assigneeId != null">assignee_id = #{assigneeId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="approvalRoleId != null">approvalRoleId = #{approvalRoleId},</if>
            <if test="approvalFinishedTime != null">approvalFinishedTime = #{approvalFinishedTime},</if>
            <if test="isOvertime != null">isOvertime = #{isOvertime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteWorkOrdersByOrderId" parameterType="Long">
        delete from work_orders where order_id = #{orderId}
    </delete>

    <delete id="deleteWorkOrdersByOrderIds" parameterType="String">
        delete from work_orders where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

    <update id="updateOverTimeOrders" parameterType="Date">
        update work_orders
        SET isOvertime= 1
        where approvalFinishedTime &lt;= #{date}
        and approvalFinishedTime IS NOT NULL
    </update>

    <select id="getWorkOrderCounts" resultType="java.util.Map">
        SELECT
            COUNT(*) AS allCount,
            SUM(CASE WHEN isOvertime = 1 THEN 1 ELSE 0 END) AS overtimeCount,
            SUM(CASE WHEN status = 'finished' THEN 1 ELSE 0 END) AS completeCount
        FROM
            work_orders
        WHERE
         approvalFinishedTime IS NOT NULL
    </select>
</mapper>